@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 180 100% 50%;
    --primary-foreground: 60 100% 50%;
    --secondary: 300 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 100%;
    --muted-foreground: 120 100% 50%;
    --accent: 180 100% 50%;
    --accent-foreground: 60 100% 50%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 180 100% 50%;
    --chart-1: 180 100% 50%;
    --chart-2: 60 100% 50%;
    --chart-3: 300 100% 50%;
    --chart-4: 0 0% 0%;
    --chart-5: 120 100% 50%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 180 100% 50%;
    --primary-foreground: 60 100% 50%;
    --secondary: 300 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 0%;
    --muted-foreground: 120 100% 50%;
    --accent: 180 100% 50%;
    --accent-foreground: 60 100% 50%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 180 100% 50%;
    --chart-1: 180 100% 50%;
    --chart-2: 60 100% 50%;
    --chart-3: 300 100% 50%;
    --chart-4: 0 0% 0%;
    --chart-5: 120 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
